<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="../css/quiz.css">
		<script src="../jQuery/jquery-1.11.3.min.js"></script>
		<script src="../js/quiz.js"></script>
	</head>
	<body>
		<div class="container main">
		<div class="mainWrapper col-md-12 col-xs-12">
			<div id="main" class="mainPage col-md-12">
				<label>ENTER YOUR NAME</label> 
				<input id="uname" type="text" name="name" placeholder="Enter your name" autofocus="" required="" ><br>

				<button class="start btn btn-lg">START</button>
			</div>
			<div id="div1" class="sameDiv col-md-12 col-xs-12">
				<div class="quesWrapper col-md-12 col-xs-12">
					<div class="question" >
						Founder Of C Language?
					</div>
				</div>
				<div class="ansWrapper row">
					<div class="ansWrapper1 col-md-12 col-xs-12">
						<div id="opt1" class="ans optn1 col-md-5 col-xs-6" >
							James Gosling				
						</div>
						<div id="opt2" class="ans optn2 col-md-5 col-xs-6">
							Bjarne Stroustrup
						</div>
					</div>
					<div class="ansWrapper2 col-md-12 col-xs-12">
						<div id="opt3" class="ans optn3 col-md-5 col-xs-6 correct" >
							Dennis Ritchie
						</div>
						<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
							Peter Drego
						</div>
					</div>
				</div>
			</div>
			<div id="div2" class="sameDiv col-md-12 col-xs-12">
			<div class="quesWrapper col-md-12 col-xs-12">
				<div class="question" >
					What is full form HTML?
				</div>
			</div>
			<div class="ansWrapper row">
				<div class="ansWrapper1 col-md-12 col-xs-12">
					<div id="opt1" class="ans optn1 col-md-5 col-xs-6" >
						Hyper Text Make Language			
					</div>
					<div id="opt2" class="ans optn2 col-md-5 col-xs-6 correct">
						Hyper Text MarkUp Language
					</div>
				</div>
				<div class="ansWrapper2 col-md-12 col-xs-12">
					<div id="opt3" class="ans optn3 col-md-5 col-xs-6" >
						Hyper Text Making Language
					</div>
					<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
						Hyper Text My Language
					</div>
				</div>
			</div>
			</div>
			<div id="div3" class="sameDiv col-md-12 col-xs-12">
				<div class="quesWrapper col-md-12 col-xs-12">
					<div class="question" >
					Founder Of C++ Language?
					</div>
				</div>
				<div class="ansWrapper row">
					<div class="ansWrapper1 col-md-12 col-xs-12">
						<div id="opt1" class="ans optn1 col-md-5 col-xs-6" >
							James Gosling				
						</div>
						<div id="opt2" class="ans optn2 col-md-5 col-xs-6">
							Dennis Ritchie
						</div>
					</div>
					<div class="ansWrapper2 col-md-12 col-xs-12">
						<div id="opt3" class="ans optn3 col-md-5 col-xs-6 correct" >
							Bjarne Stroustrup
						</div>
						<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
							David 
						</div>
					</div>
				</div>
			</div>
			<div id="div4" class="sameDiv col-md-12 col-xs-12">
						<div class="quesWrapper col-md-12 col-xs-12">
				<div class="question" >
					What is full form UI?
				</div>
			</div>
			<div class="ansWrapper row">
				<div class="ansWrapper1 col-md-12 col-xs-12">
					<div id="opt1" class="ans optn1 col-md-5 col-xs-6" >
						User Internet				
					</div>
					<div id="opt2" class="ans optn2 col-md-5 col-xs-6">
						U Tab
					</div>
				</div>
				<div class="ansWrapper2 col-md-12 col-xs-12">
					<div id="opt3" class="ans optn3 col-md-5 col-xs-6" >
						User IP
					</div>
					<div id="opt4" class="ans optn4 col-md-5 col-xs-6 correct"> 
						User Interface
					</div>
				</div>
			</div>
			</div>
			<div id="div5" class="sameDiv col-md-12 col-xs-12">
				<div class="quesWrapper col-md-12 col-xs-12">
					<div class="question" >
						What is full form FTP?
					</div>
				</div>
				<div class="ansWrapper row">
					<div class="ansWrapper1 col-md-12 col-xs-12">
						<div id="opt1" class="ans optn1 col-md-5 col-xs-6 correct" >
							File Transfer Protocol				
						</div>
						<div id="opt2" class="ans optn2 col-md-5 col-xs-6">
							File Text Protocol
						</div>
					</div>
					<div class="ansWrapper2 col-md-12 col-xs-12">
						<div id="opt3" class="ans optn3 col-md-5 col-xs-6" >
							File Trend Path
						</div>
						<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
							File To Print
						</div>
					</div>
				</div>
			</div>
			<div id="div6" class="sameDiv col-md-12 col-xs-12">
				<div class="quesWrapper col-md-12 col-xs-12">
					<div class="question" >
						Who was Founder of Java?
					</div>
				</div>
				<div class="ansWrapper row">
					<div class="ansWrapper1 col-md-12 col-xs-12">
						<div id="opt1" class="ans optn1 col-md-5 col-xs-6 correct" >
							James Gosling				
						</div>
						<div id="opt2" class="ans optn2 col-md-5 col-xs-6">
							Dennis Ritchie
						</div>
					</div>
					<div class="ansWrapper2 col-md-12 col-xs-12">
						<div id="opt3" class="ans optn3 col-md-5 col-xs-6" >
							Bjarne Stroustrup
						</div>
						<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
							David Drego
						</div>
					</div>
				</div>
			</div>
			<div id="div7" class="sameDiv col-md-12 col-xs-12">
				<div class="quesWrapper col-md-12 col-xs-12">
					<div class="question" >
						What is full form OOP?
					</div>
				</div>
				<div class="ansWrapper row">
					<div class="ansWrapper1 col-md-12 col-xs-12">
						<div id="opt1" class="ans optn1 col-md-5 col-xs-6 correct" >
							Object Oriented Programming				
						</div>
						<div id="opt2" class="ans optn2 col-md-5 col-xs-6">
							Object Object Programming
						</div>
					</div>
					<div class="ansWrapper2 col-md-12 col-xs-12">
						<div id="opt3" class="ans optn3 col-md-5 col-xs-6" >
							Object Oriented Protocol
						</div>
						<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
							Oriented Object Programming
						</div>
					</div>
				</div>
			</div>
			<div id="div8" class="sameDiv col-md-12 col-xs-12">
				<div class="quesWrapper col-md-12 col-xs-12">
					<div class="question" >
						What is full form IP?
					</div>
				</div>
				<div class="ansWrapper row">
					<div class="ansWrapper1 col-md-12 col-xs-12">
						<div id="opt1" class="ans optn1 col-md-5 col-xs-6 " >
							Internet Path				
						</div>
						<div id="opt2" class="ans optn2 col-md-5 col-xs-6 correct">
							Internet Protocol
						</div>
					</div>
					<div class="ansWrapper2 col-md-12 col-xs-12">
						<div id="opt3" class="ans optn3 col-md-5 col-xs-6" >
							Interface Protocol
						</div>
						<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
							Internet Print
						</div>
					</div>
				</div>
			</div>
			<div id="div9" class="sameDiv col-md-12 col-xs-12">
				<div class="quesWrapper col-md-12 col-xs-12">
					<div class="question" >
						What is full form POP?
					</div>
				</div>
				<div class="ansWrapper row">
					<div class="ansWrapper1 col-md-12 col-xs-12">
						<div id="opt1" class="ans optn1 col-md-5 col-xs-6 " >
							PREVIOUS Of Programming				
						</div>
						<div id="opt2" class="ans optn2 col-md-5 col-xs-6">
							Procedure Object Programming 
						</div>
					</div>
					<div class="ansWrapper2 col-md-12 col-xs-12">
						<div id="opt3" class="ans optn3 col-md-5 col-xs-6 correct" >
							Procedure Oriented Programming
						</div>
						<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
							Procedure of Programming
						</div>
					</div>
				</div>
			</div>
			<div id="div10" class="sameDiv col-md-12 col-xs-12">
				<div class="quesWrapper col-md-12 col-xs-12">
					<div class="question" >
						What is full form SMTP?
					</div>
				</div>
				<div class="ansWrapper row">
					<div class="ansWrapper1 col-md-12 col-xs-12">
						<div id="opt1" class="ans optn1 col-md-5 col-xs-6 correct" >
							Simple Mail Transfer Protocol				
						</div>
						<div id="opt2" class="ans optn2 col-md-5 col-xs-6">
							Same Mail Transfer Protocol
						</div>
					</div>
					<div class="ansWrapper2 col-md-12 col-xs-12">
						<div id="opt3" class="ans optn3 col-md-5 col-xs-6" >
							Send Mail Through Protocol 
						</div>
						<div id="opt4" class="ans optn4 col-md-5 col-xs-6"> 
							Simple Mail To Protocol
						</div>
					</div>
				</div>
			</div>
			<div class="div11">
				<div class=finalAns></div>
				<button class="done btn btn-md">DONE</button>
			</div>
				<div class="btnWrapper col-md-12">
					<div class="col-md-9">
						<button id="previous" class="previous btn btn-md">PREVIOUS</button>
						<button id="next" class="next btn btn-md">NEXT</button>
	
					</div>				 
					<div class="timer col-md-3">
						<div class="timeLeft ">TIME LEFT: <span class="dispTime">60</span></div>
					</div>
				</div>
				<!-- <div class="col-md-9"> </div> -->
		</div> <!-- mainWrapper -->
		</div><!--container -->
	</body>
</html>